body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
  color: hsla(0, 0%, 0%, 0.7);
}

#choices {
  margin-bottom: 30px;
}

#choices button {
  font-size: 7.5rem;
  border-radius: 250px;
  min-width: 160px;
  margin: 0 10px;
  background-color: hsl(200, 100%, 50%);
  cursor: pointer;
  transition: background-color 0.5s ease;
}

#choices button:hover {
  background-color: hsl(200, 100%, 70%);
}

#playerDisplay,
#computerDisplay {
  font-size: 2.5rem;
}

#resultDisplay {
  font-size: 5rem;
  margin: 30px 0;
}

.greenColor,
#playerScoreDisplay {
  color: green;
}

.redColor,
#computerScoreDisplay {
  color: red;
}

.scoreDisplay {
  font-size: 2rem;
}
